[server]
name = "Vire-MCP"
port = "4243"
server_url = "http://vire-server:4242"

[user]
# portfolios = ["SMSF"]
# display_currency = "AUD"

[navexa]
# api_key = ""

[logging]
level = "info"    # debug, info, warn, error
format = "json"
